@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 53 22% 93%;
        --foreground: 70 5% 22%;
        --muted: 53 12% 89%;
        --muted-foreground: 53 12% 29%;
        --popover: 52 22% 90%;
        --popover-foreground: 70 5% 12%;
        --card: 52 22% 91%;
        --card-foreground: 70 5% 17%;
        --border: 52 12% 88%;
        --input: 52 12% 85%;
        --primary: 70 5% 22%;
        --primary-foreground: 70 5% 82%;
        --secondary: 0 0% 75%;
        --secondary-foreground: 0 0% 15%;
        --accent: 53 22% 78%;
        --accent-foreground: 53 22% 18%;
        --destructive: 10 88% 40%;
        --destructive-foreground: 0 0% 100%;
        --ring: 70 5% 22%;
        --radius: 0.5rem;
    }

    .dark {
        --background: 0 0% 3.9%;
        --foreground: 0 0% 98%;
        --card: 0 0% 3.9%;
        --card-foreground: 0 0% 98%;
        --popover: 0 0% 3.9%;
        --popover-foreground: 0 0% 98%;
        --primary: 0 0% 98%;
        --primary-foreground: 0 0% 9%;
        --secondary: 0 0% 14.9%;
        --secondary-foreground: 0 0% 98%;
        --muted: 0 0% 14.9%;
        --muted-foreground: 0 0% 63.9%;
        --accent: 0 0% 14.9%;
        --accent-foreground: 0 0% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;
        --border: 0 0% 14.9%;
        --input: 0 0% 14.9%;
        --ring: 0 0% 83.1%;
        --radius: 0.5rem;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-muted-foreground min-w-full;
    }
    ::-moz-selection {
        @apply bg-primary text-primary-foreground;
    }
    ::selection {
        @apply bg-primary text-primary-foreground;
    }

    .animated-line {
        --dash-width: 10;
        --gap-width: 100;

        stroke-dasharray: var(--dash-width) var(--gap-width);
        animation: pulse 2s cubic-bezier(0.65, 0, 0.35, 1) infinite
            alternate-reverse;
        animation-delay: var(--delay);
    }

    @keyframes pulse {
        0% {
            stroke-dashoffset: var(--dash-width);
        }
        50% {
            stroke: aquamarine;
        }
        100% {
            stroke-dashoffset: calc(var(--gap-width) * -8px + 40px);
        }
    }
}
