/* changes the colour of when you select text */
::-moz-selection {
  color: rgb(255, 255, 255);
  background: rgba(84, 225, 211, 0.5);
}

::selection {
  color: rgb(255, 255, 255);
  background: rgba(84, 225, 211, 0.5);
}

/* smooth scrolling */
html {
  scroll-behavior: smooth;
  font-family: "JetBrains Mono", monospace !important;
}

/* styles the scrollbar instead of using the default one to fit with the site's color scheme */
* {
  scrollbar-width: thin;
  scrollbar-color: #f3e8ff #1f2937;
}
::-webkit-scrollbar {
  width: 2px;
}
::-webkit-scrollbar-track {
  background: #1f2937;
}
::-webkit-scrollbar-thumb {
  background: #f3e8ff;
  border-radius: 6px;
}
