body {
    background: #1C1917;
}

h1 {
    font-family: "Inter", sans-serif;
}

p {
  font-family: 'Nunito', sans-serif;
}

::-moz-selection {
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
  }
  
  ::selection {
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
  }

.glow{
  color:#fff;
  text-shadow:1px 1px 5px #fff, 1px 1px 5px #ccc;
  animation: flicker 1s infinite;
}

@keyframes flicker
  {
  0% {opacity:0;}
  9% {opacity:1;}
  10% {opacity:.5;}
  13% {opacity:0;}
  20% {opacity:.5;}
  25% {opacity:1;}
}
