/* setting different fonts for p and h1 */
h1 {
    font-family: "Inter", sans-serif;
}

p {
  font-family: 'Nunito', sans-serif;
}

/* changes the colour of when you select text */
::-moz-selection {
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
  }
  
  ::selection {
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
  }


/* creates a flickering effect on the specific object when 'flicker' is added to the object's class.. */
@keyframes flicker
{
  0% {opacity:0;}
  9% {opacity:1;}
  10% {opacity:.5;}
  13% {opacity:0;}
  20% {opacity:.5;}
  25% {opacity:1;}
}

/* styles the scrollbar instead of using the default one to fit with the site's color scheme */
* {
	scrollbar-width:thin;
	scrollbar-color:#6366F1 #1F2937
}
   ::-webkit-scrollbar {
	width:8px
}
   ::-webkit-scrollbar-track {
	background:#1F2937
}
   ::-webkit-scrollbar-thumb {
	background:#6366F1;
	border-radius:8px
}
