body {
    background: #1C1917;
}

h1 {
    font-family: "Inter", sans-serif;
}

p {
  font-family: 'Nunito', sans-serif;
}

::-moz-selection {
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
  }
  
  ::selection {
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
  }

@keyframes flicker
  {
  0% {opacity:0;}
  9% {opacity:1;}
  10% {opacity:.5;}
  13% {opacity:0;}
  20% {opacity:.5;}
  25% {opacity:1;}
}

* {
	scrollbar-width:thin;
	scrollbar-color:#7DD3FC #1F2937
}
   ::-webkit-scrollbar {
	width:8px
}
   ::-webkit-scrollbar-track {
	background:#1F2937
}
   ::-webkit-scrollbar-thumb {
	background:#7DD3FC;
	border-radius:8px
}
