@tailwind base;

@layer base {
	body {
		/* --d: 0.5px;
		background: radial-gradient(
				circle at var(--d) var(--d),
				rgba(156, 156, 156, 0.05) calc(var(--d) - 1px),
				#010101 var(--d)
			)
			0 0 / 7px 7px; */
		font-family: 'Inter', sans-serif;
		@apply bg-secondary-800;
	}
	html {
		scroll-behavior: smooth;
		@apply bg-secondary-800;
	}

	.monofont {
		font-family: 'Jetbrains Mono', monospace !important;
	}

	.proselink {
		@apply text-white underline decoration-zinc-600 transition-colors hover:text-violet-300 hover:decoration-violet-300;
	}

	.prosecode {
		@apply px-1 font-mono text-xs text-white;
	}

	/* god almighty */
	.all-prose {
		@apply prose-a:proselink prose-code:prosecode prose max-w-full overflow-clip break-words font-normal text-zinc-400 prose-headings:text-white prose-strong:font-semibold prose-strong:text-white prose-code:before:hidden prose-code:after:hidden prose-img:justify-center;
	}
}

@tailwind components;
@tailwind utilities;
/* changes the colour of when you select text */
::-moz-selection {
	@apply bg-violet-300/70 text-white;
}

::selection {
	@apply bg-violet-300/70 text-white;
}

/* styles the scrollbar instead of using the default one to fit with the site's color scheme */
* {
	scrollbar-width: thin;
	scrollbar-color: #ffffff #1f2937;
}
::-webkit-scrollbar {
	width: 2px;
}
::-webkit-scrollbar-track {
	background: #1f2937;
}
::-webkit-scrollbar-thumb {
	background: #ffffff;
	border-radius: 2px;
}

#nprogress {
	@apply pointer-events-none;
}

#nprogress .bar {
	@apply fixed left-0 top-0 z-[99] h-[2px] w-full rounded-md bg-white opacity-70;
}
