name: Check Code
on: push

concurrency:
    group: ${{ github.job }}-${{ github.ref }}
    cancel-in-progress: true

jobs:
    prettier:
        name: Prettier
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repo
              uses: actions/checkout@v4

            - name: Setup Bun
              uses: oven-sh/setup-bun@v2

            - name: Install dependencies
              run: bun install

            - name: Prettier check
              run: bun run prettier:check
